*{
margin : 0;
padding: 0;

}
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/8.JFIF);
  background-position: center;
  background-size: cover;
  position: relative;


}
nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
nav img{
	
	width: 100px;
	
	
	
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
	
	
}
.nav-links ul li a{
	
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}
.nav-links ul li::after{
	
	content: '';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
	
}
.nav-links ul li:hover::after{
	width: 90%;
	
	
}
.text-box{
	width:90%;
	color: white;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align: center
	
	
}
.text-box h1{
	
	font-size: 62px;
	
}
.text-box p{
	
	margin: 10px 0 40px;
	font-size: 20px;
	color: white;
}
.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: white;
	border: 1px solid white;
	padding: 12px 34px;
	font-size: 20px;
	background: transparent;
	position: relative;
	cursor: pointer;
	
}
.hero-btn:hover{
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
	
}
nav .fa{
	display: none;
}
@media(max-width: 700px){
	.text-box h1{
		font-size: 30px;
	}
	.nav-links ul li{
		display: block;	
	}
	.nav-links{
		position: absolute;
		background: #f44336;
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}
	nav .fa{
		display: block;
		color: white;
		margin: 10px;
		font-size: 22px;
		cursor: pointer
		
	}
	.nav-links ul{
		padding: 30px;
		
	}
}
/*----about---*/

.about{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
	
}
h1{
	font-size: 40px;
	font-weight: 600;	
}
p{
	color: #777;
	font-size: 20px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
	
}
.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.about-col{
	flex-basis: 31%;
	background: #fff3f3;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	
}
h3{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
	
}
.about-col:hover{
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
}
@media(max-width: 700px){
	
	.row{
		flex-direction: column;
		
	}
}

/*----ourspecial---*/

.ourspecial{
	width: 80%
	margin: auto;
	text-align: center;
	padding-top: 50px;
	
}
.ourspecial-col{
	flex-basis: 32%;
	border-radius: 10px;
	margin-bottom: 30px;
	margin-right: 30px;
	position: relative
	overflow: hidden;
	
}
.ourspecial-col img{
	
	width: 100%;
}
/*tset----*/
.testminials{
	width: 80%;
	margin: auto;
	padding-top: 100px;
	text-align: center;
	
}
.testminials-col{
	flex-basis: 44%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: left;
	background: #fff3f3;
	padding: 25px;
	cursor: pointer;
	display: flex;
	
}
.testminials-col img{
	height: 40px;
	margin-left: 5px;
	margin-right: 30px;
	border-radius: 50%;
	
}
.testminials-col p{
	padding: 0;
}
.testminials-col h3{
	margin-top: 15px;
	text-align: left;
}
.testminials-col .fa{
	
	color: #FFD700;
}
/*---contact---*/
.contact{
	
	margin: 100px auto;
	width: 80%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/7.JFIF);
	background-position: center;
	background-size: cover;
	border-radius: 10px;
	text-align: center;
padding: 100px 0;}
.contact h1{
	
	color: white;
	font-size: 50px;
	margin-bottom: 40px;
	padding: 0;
}
/*------footer-----*/

.footer{
	width: 100%;
	text-align: center;
	padding: 30px 0;
	
}
.footer h3{
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;
	font-size: 50px;
}
.icons .fa{
	color: #f44336;
	margin: 0 13px;
	cursor: pointer;
	padding: 18px 0;
	font-size: 30px;		
}
.fa-heart-o{
	color: #f44336;
}